
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:black;
}
:root {
    --crystals: #3498db;
    --wild: greenyellow;
}

.main-container {
    width: 100%;
    background-color: #000000;
}

.banner-image {
    width: 100%;
    display: block;
}



@media screen and (min-width: 1024px) {

    .main-container {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        border-width: 2px;
        border-style: solid;
        border-color: var(--crystals);
    }

}
